:root
{
	--layout-max-width: 1100px !important;
	--padding-left-mobile: 5% !important;
	--padding-right-mobile: 5% !important;
	--pink-light: #D81159 !important;
	--pink-dark: #4A061F !important;
	--color-bg-default: #D81159 !important;
	--color-bg-default-dark: #4A061F !important;
	/*--color-bg-default-dark: #191919 !important;*/

	/* Collection top border (set to 0 to hide) */
  	--collection-header-border: 0 !important;

}

body
{
	overflow-x: hidden !important;
}

.theme-light body
{
	background: var(--color-bg-default);
}

.theme-dark body
{
	background: var(--color-bg-default-dark);
}

.super-navbar__logo:hover {
    opacity: .7 !important;
}

.notion-header
{
	display: flex !important;
}

.theme-light .notion-search__input, .notion-search__box {
    background: white !important;
}

.theme-dark .notion-search__input, .notion-search__box {
    background:  #191919 !important;
}

.notion-page
{
	margin: 0 !important;
	padding: 8px 5px!important;
	padding-left: 8px!important;
}

.notion-page>div
{
	padding: 0px!important;
}

p
{
	line-height: 1.8 !important;
}

.notion-list-item
{
	line-height: 1.8 !important;
}

/************************************************/
/*                  SOMMAIRE                     */
/************************************************/

.notion-table-of-contents__item .notion-semantic-string:not(.no-border)
{
	padding-bottom: 5px;
	text-decoration: none;
	text-decoration-color: var(--color-text-default-light);
}

.notion-table-of-contents__item
{
	font-size: 0.9rem !important;
}

/************************************************/
/*                    TEXT                      */
/************************************************/

/* Texte au format heading 2*/ 
.notion-text.bg-brown
{
	background: transparent !important;
	font-family: var(--primary-font);
	font-size: var(--heading2-size);
	font-weight: var(--heading-weight);
	letter-spacing: -1px !important;
	line-height: 1.5 !important;
	margin-top: 1.8rem;
}

/* Texte au format heading 3*/ 
.notion-text.bg-orange
{
	background: transparent !important;
	font-family: var(--primary-font);
	font-size: var(--heading3-size);
	font-weight: var(--heading-weight);
	letter-spacing: -1px !important;
	line-height: 1.5 !important;
	margin-top: .75rem;
}

/* Texte centré et gras*/ 
.notion-text.bg-red
{
	background: transparent !important;
	font-weight: var(--heading-weight);
	text-align: center !important;
}

/************************************************/
/*                 CALLOUT                      */
/************************************************/


/* JAUNE : fond blanc en mode clair, sans bord */
.theme-light .notion-callout.bg-yellow-light
{
	background: white !important;
	border: none !important;
}


/* GRIS : transparent avec bord et ombre */
.theme-light .notion-callout.bg-gray-light
{
	background: transparent !important;
	border-color: #191919 !important;
	box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
}
.theme-dark .notion-callout.bg-gray-light
{
	background: transparent !important;
	border-color: #191919 !important;
	box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
}

/* PINK  : pleine largeur, fond rose foncé, texte blanc et centré */
.theme-light .notion-callout.bg-pink-light
{
	background: var(--pink-light) !important;
	color: white !important;
}
.theme-dark .notion-callout.bg-pink-light
{
	background: var(--pink-dark) !important;
	color: white !important;
}

/* PURPLE  : pleine largeur, fond rose foncé, texte blanc et centré */
.theme-light .notion-callout.bg-purple-light
{
	background: #8F2D56 !important;
	color: white !important;
}
.theme-dark .notion-callout.bg-purple-light
{
	background: #310F1D !important;
	color: white !important;
}

/* VERT  : pleine largeur, fond rose foncé, texte blanc et centré */
.theme-light .notion-callout.bg-green-light
{
	background: #218380 !important;
	color: white !important;
}
.theme-dark .notion-callout.bg-green-light
{
	background: #0B2C2B !important;
	color: white !important;
}

/* ORANGE  : pleine largeur, fond rose foncé, texte blanc et centré */
.theme-light .notion-callout.bg-orange-light
{
	background: #FFBC42 !important;
	color: black !important;
}
.theme-dark .notion-callout.bg-orange-light
{
	background: #6D4700 !important;
	color: white !important;
}


.notion-callout.bg-pink-light, 
.notion-callout.bg-purple-light, 
.notion-callout.bg-green-light, 
.notion-callout.bg-orange-light, 
.notion-callout.bg-brown-light
{
	text-align: center;
}



/* RED  : Making a button from a callout
/* Turn a single line callout block into a button (Entire block is clickable) */
.notion-callout.bg-red-light:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.5) !important;
}

.notion-callout.bg-red-light {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    letter-spacing: -0.4px !important;
    border-radius: 50px !important;
    align-items: center !important;
    width: fit-content !important;
    min-width: 230px;
    position: relative !important;
    font-weight: 600 !important;
    border: none !important;
    padding: 10px 20px !important;

}
.notion-callout.bg-red-light {
    background: #FFBC42 !important; /* CHANGE THE BUTTON COLOR HERE */
    color: black !important;
    
}
.notion-callout.bg-red-light .notion-semantic-string .link {
    padding: 0px !important;
    display: inline-block !important;
    white-space: pre !important;
    font-weight: 600 !important;
    font-size: 20px;
    border: none !important;
    opacity:1 !important;
}
.notion-callout.bg-red-light .notion-semantic-string .link:hover {
    border: none !important;
}
