:root
{
	/* navbar */
	--navbar-height: 55px;
	
	/* Layout */ 
	--layout-max-width: 1100px !important;
	--padding-left-mobile: 2% !important;
	--padding-right-mobile: 2% !important;
	--column-spacing: 30px !important; 

	/* Typography */ 

	
	/*--color-bg-default-dark: #191919 !important;*/
	--primary-font: Roboto !important;
	--secondary-font: Roboto !important;
	
	
	/* Collection */
	/* Collection top border (set to 0 to hide) */
	--collection-header-border: 0 !important;	
	
	/* Pink global (= pink light) */
	--pink-global: hsl(338, 85%, 46%)!important;
}

html.theme-light {
	/* Background page */
	--color-bg-default: var(--color-pink) !important;

	/* Collection card */
	--color-card-bg: #ededed !important;
	--color-card-bg-hover: #d9d9d9 !important;
	
	/* Pink HSL */
	--pink-h: 338 !important;
	--pink-s: 85% !important;
	--pink-l: 46% !important;
	--color-bg-pink-light:  hsl(var(--pink-h), var(--pink-s), var(--pink-l))!important;

	/* Red HSL */
	--red-h: 338 !important;
	--red-s: 85% !important;
	--red-l: 46% !important;
	
	/* Purple HSL */
	--purple-h: 0 !important;
	--purple-s: 3% !important;
	--purple-l: 28% !important;
	--color-bg-purple-light:  hsl(var(--purple-h), var(--purple-s), 19%)!important;
}

html.theme-dark {
	/* Background page */
	--color-bg-default: #4A061F	!important;
	
	/* Collection card */
	--color-card-bg: #262626 !important;
	--color-card-bg-hover: #494949 !important;
	
	/* Pink HSL */
	--pink-h: 338 !important;
	--pink-s: 85% !important;
	--pink-l: 46% !important;
	--color-bg-pink-light:  hsl(var(--pink-h), var(--pink-s), 19%)!important;

	/* Red HSL */
	--red-h: 338 !important;
	--red-s: 85% !important;
	--red-l: 46% !important;
	
	/* Purple HSL */
	--purple-h: 0 !important;
	--purple-s: 3% !important;
	--purple-l: 28% !important;
	--color-bg-purple-light:  hsl(var(--purple-h), var(--purple-s), 19%)!important;
}


/* --------------------------------------*/
/* Layout  
/* --------------------------------------*/

body
{
	overflow-x: hidden !important;
}
/* .notion-page */
/* { */
	/* margin: 0 !important; */
	/* padding: 8px 5px!important; */
	/* padding-left: 8px!important; */
/* } */
/* .notion-header */
/* { */
	/* display: flex !important; */
/* } */
/* .notion-page>div */
/* { */
	/* padding: 0px!important; */
/* } */


.notion-image img
{
  width: 100% !important;
}


/* --------------------------------------*/
/* Typo                       
/* --------------------------------------*/

p
{
	line-height: 1.7 !important;
	padding-bottom: 10px !important;
}
.notion-list-item
{
	line-height: 1.7 !important;
}
li::marker {
  	color: var(--color-bg-default) !important;
}


/* --------------------------------------*/
/* table-of-contents          
/* --------------------------------------*/

.notion-table-of-contents__item .notion-semantic-string:not(.no-border)
{
	padding-bottom: 5px;
	text-decoration: none;
	text-decoration-color: var(--color-text-default-light);
}
.notion-table-of-contents__item
{
	font-size: 0.9rem !important;
}

/* --------------------------------------*/
/* Text                                 
/* --------------------------------------*/

/* Texte au format heading 2*/ 
.notion-text.bg-brown
{
	background: transparent !important;
	font-family: var(--primary-font)!important;
	font-size: var(--heading2-size)!important;
	font-weight: var(--heading-weight)!important;
	letter-spacing: -1px !important;
	line-height: 1.5 !important;
	margin-top: 1.8rem;
}

/* Texte au format heading 3*/ 
.notion-text.bg-orange
{
	background: transparent !important;
	font-family: var(--primary-font)!important;
	font-size: var(--heading3-size)!important;
	font-weight: var(--heading-weight)!important;
	letter-spacing: -1px !important;
	line-height: 1.5 !important;
	margin-top: .75rem;
}

/* Texte centré et gras*/ 
.notion-text.bg-red
{
	background: transparent !important;
	font-weight: var(--heading-weight)!important;
	text-align: center !important;
}

/* --------------------------------------*/
/* Callout                                 
/* --------------------------------------*/


/* JAUNE : fond blanc en mode clair, sans bord */
.theme-light .notion-callout.bg-yellow-light
{
	background: white !important;
	border: none !important;
}

/* GRIS : transparent avec bord et ombre */
.theme-light .notion-callout.bg-gray-light
{
	background: transparent !important;
	border-color: #191919 !important;
	box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
}
.theme-dark .notion-callout.bg-gray-light
{
	background: transparent !important;
	border-color: #191919 !important;
	box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
}

/* PINK, PURPLE, GREEN, BROWN - texte blanc et centré */
.notion-callout.bg-pink-light, 
.notion-callout.bg-purple-light, 
.notion-callout.bg-green-light, 
.notion-callout.bg-brown-light
{
	color: white !important;
	text-align: center!important;
	border: none !important;
}

/* --------------------------------------*/
/* Responsive                                 
/* --------------------------------------*/

@media(max-width:1024px)
{
	:root
	{
		--column-spacing: 15px !important; 
	}
	.notion-root
	{
		padding-left: var(--padding-left-mobile)!important;
		padding-right: var(--padding-right-mobile)!important;
	}	
}

@media(max-width:546px)
{
	.notion-text__content, .notion-list-item
	{
		line-height: 1.5!important;
		font-size: 1rem !important;
	}
}

/* --------------------------------------*/
/* Navbar      
/* --------------------------------------*/

.super-content-wrapper
{
  	padding-top: 20px;
}

@media(max-width:1024px)
{
   	.super-content-wrapper
  	{
    		padding-top: 10px;
 	 }
  	.super-navbar.bottom-border
	{
		border-bottom: none!important;
	}
	.super-navbar__item-list
	{
		display: none!important;
	}
	.super-navbar__actions.hide
	{
		display: grid!important;
	}
	.super-navbar.balanced,.super-navbar__menu-open
	{
		display: flex!important;
	}
	.super-navbar__item
	{
		padding: 8px!important;
		text-align: left!important;
		width: 100%!important;
	}
	.super-navbar__item.active,.super-navbar__item:hover,.super-navbar__list-item:hover,.super-navbar__list:hover,.super-navbar__menu-list .super-navbar__item.active:hover
	{
		background: var(--navbar-background-color-hover)!important;
		opacity: 1!important;
	}
	.super-navbar.hidden,.super-navbar__search.sidebar-search
	{
		display: flex!important;
	}
}

@media(max-width:546px) {
	.super-content-wrapper
	{
		padding-top: 0px;
	}
	/*.super-navbar__content {
	padding:0 0px!important;
	}*/
	/* to fix issue width crowded Navbar on mobile */ 
	.super-navbar__logo-image{
		width: 100px!important;
	}
}

.super-navbar__cta
{
	background: var(--pink-global)!important;
	color: white!important;
}

.super-navbar__logo:hover {
	opacity: .85 !important;
}

/* --------------------------------------*/
/* Button CTA      
/* --------------------------------------*/

.notion-button__content
{
	background: #F49F0A !important;
	color: black! important;
	border: none !important;
	padding-left: 30px;
	padding-right: 30px;
}

.notion-button__content:hover
{
  	transform: scale(1.02) !important;
}


.super-footer__list-heading {
  	color: var(--pink-global);
	font-weight: 700 !important;
}

/* --------------------------------------*/
/* Footer  
/* --------------------------------------*/

.super-footer * {
	p {
		line-height: 1.3 !important;
		padding-bottom: 5px !important;
		padding-right: 20px !important;
	}
}

.super-footer.corners.has-list .super-footer__links, .super-footer.floating.has-list .super-footer__links {
	grid-template-columns: repeat(auto-fill,minmax(min(200px,100%),1fr)) !important;
}
