
:root
{
	--layout-max-width: 1200px !important;
	/*--collection-card-cover-size-large: 420px!important;*/
}

.notion-header
{
	display: none !important;
}


/************************************************/
/*               gallery large                  */
/************************************************/

.notion-collection-gallery.large .notion-collection-card
{
	display: flex !important;
	padding: 5px !important;
	flex-direction: column-reverse !important;
}
.notion-collection-gallery.large .notion-collection-card__cover
{
	border-radius: 0px 0px 6px 6px !important;
}

.notion-collection-gallery.large .notion-collection-card__content
{
	background: white !important;
	border-radius: 0px 0px 0px 0px !important;
	color: white !important;
	justify-content: space-between !important;
	align-items: left;
	padding: 0px !important;
}

.theme-dark .notion-collection-gallery.large .notion-collection-card__content
{
	background: #191919 !important;
}
.notion-collection-gallery.large .notion-collection-card__property-list
{
  	margin-top: 0px !important;
  	padding: 20px !important;
}

.notion-collection-gallery.large .notion-property__title
{
	font-size: rem !important;
	font-weight: 600 !important;
	letter-spacing: -1px !important;
	line-height: 1rem !important;
	max-width: 360px !important;
	color: #218380 !important;
	margin-top: auto !important;
}

.notion-collection-gallery.large .notion-property__text
{
	font-size: 1.4rem !important;
	font-weight: 600 !important;
	letter-spacing: -1px !important;
	line-height: 1.8rem !important;
	color: black !important;
	text-align: left !important;
}

.notion-collection-gallery.large .notion-property__date
{
	line-height: 1rem !important;

}

.notion-collection-gallery.large>.notion-collection-card:hover {
  	transform: scale(1.02) !important;
	opacity: 0.98 !important;
}

.theme-dark .notion-collection-gallery.large>.notion-collection-card:hover {
	opacity: 0.8 !important;
}



/************************************************/
/*               gallery small                  */
/************************************************/


.notion-collection-gallery.small .notion-collection-card
{
	background: transparent  !important;
	box-shadow: none !important;

}

.notion-collection-gallery.small .notion-property__title
{
	color: white!important;
	font-size: 1.07rem !important;
	line-height: 1.5rem !important;
	text-align: center !important;
	padding-top: 15px !important;
  	padding-left: 10px !important;
	padding-right: 10px !important;

}
.notion-collection-gallery.small .notion-collection-card__cover 
{
	width: auto !important;*/
	/*min-height: 170px  !important;*/
}



/************************************************/
/*               gallery media                  */
/************************************************/

@media(min-width:760px)
{
	.notion-collection-gallery.small .notion-collection-card__content
	{
		align-items: center;
	}
	.notion-collection-gallery.large
	{
		grid-template-columns: 1fr 1fr !important;
	}
}


body {
    	overflow-x: hidden !important;
}


/************************************************/
/*                  callout                     */
/************************************************/

/* BROWN  : pleine largeur, fond rose foncé, texte blanc et centré */

.notion-callout.bg-brown-light
{
  background: radial-gradient(circle, rgba(0,0,0,0.834407090472908) 33%, rgba(0,0,0,0.6411297795485382) 66%, rgba(0,0,0,0) 100%), url('https://www.mecfs.de/wp-content/uploads/2024/09/Fotocredits_Reinhard_Balzer_I_Deutsche_Gesellschaft_fuer_ME-CFS_5-scaled.jpg') no-repeat;
	color: white !important;
	background-position: left !important;
  	background-size: cover;	
	width: 100vw !important;
	max-width: 100vw !important;
	margin-left: -50vw !important;
	left: 50% !important;
	position: relative !important; 
 }
 
.notion-callout.bg-pink-light, 
.notion-callout.bg-purple-light, 
.notion-callout.bg-green-light, 
.notion-callout.bg-orange-light,
.notion-callout.bg-brown-light
{
	border-radius: 0px !important;
	width: 100vw !important;
	max-width: 100vw !important;
	position: relative !important;
	margin: 0 !important;
	margin-left: -50vw !important;
	left: 50% !important;
	padding: 50px 0px !important;
	display: flex !important;
	justify-content: flex-start !important;
	flex-direction: column !important;
	border: 0 !important;
}

.notion-root>.notion-callout.bg-pink-light>.notion-callout__icon,
.notion-root>.notion-callout.bg-purple-light>.notion-callout__icon,
.notion-root>.notion-callout.bg-green-light>.notion-callout__icon,
.notion-root>.notion-callout.bg-orange-light>.notion-callout__icon,
.notion-root>.notion-callout.bg-brown-light>.notion-callout__icon
{
    	display: none !important;
	width: var(--layout-max-width) !important;
	max-width: var(--layout-max-width) !important;
	padding-left: var(--padding-left) !important;
	padding-right: var(--padding-right) !important;
	margin: 0 auto !important;
}

.notion-root>.notion-callout.bg-pink-light>.notion-callout__content,
.notion-root>.notion-callout.bg-purple-light>.notion-callout__content,
.notion-root>.notion-callout.bg-green-light>.notion-callout__content,
.notion-root>.notion-callout.bg-orange-light>.notion-callout__content
{
	margin-inline-start: 0 !important;
	max-width: var(--layout-max-width) !important;
	padding-left: var(--padding-left) !important;
	padding-right: var(--padding-right) !important;
	margin: 0 auto !important;
	/* align-items: center !important;*/
}

.notion-root>.notion-callout.bg-brown-light>.notion-callout__content

{
	margin-inline-start: 0 !important;
	max-width: var(--layout-max-width) !important;
	/*padding-left: 200px  !important;*/
	padding-left: var(--padding-left) !important;
	/*padding-right: 200px !important;*/
	padding-right: var(--padding-right) !important;
	margin: 0 auto !important;
	align-items: center !important;
}


@media all and (max-width: 546px) {
	.notion-root>.notion-callout.bg-pink-light>.notion-callout__content,
	.notion-root>.notion-callout.bg-purple-light>.notion-callout__content,
	.notion-root>.notion-callout.bg-green-light>.notion-callout__content,
	.notion-root>.notion-callout.bg-orange-light>.notion-callout__content, 
	.notion-root>.notion-callout.bg-brown-light>.notion-callout__content 
	{
	        padding-left: var(--padding-left-mobile) !important;
	        padding-right: var(--padding-right-mobile) !important;
	}

    	.notion-root>.notion-callout.bg-pink-light>.notion-callout__icon,
	.notion-root>.notion-callout.bg-purple-light>.notion-callout__icon,
	.notion-root>.notion-callout.bg-green-light>.notion-callout__icon,
	.notion-root>.notion-callout.bg-orange-light>.notion-callout__icon,
	.notion-root>.notion-callout.bg-brown-light>.notion-callout__icon 
	{
	        padding-left: var(--padding-left-mobile) !important;
	        padding-right: var(--padding-right-mobile) !important;
    	}
}
